@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #373A45;
}

.category-transjakarta {
    background-color: #184CA1;
    &.category-table {
        background-color: #184CA173;

        &:hover {
            background-color: #184CA12B;
        }
    }
}

.category-hayday {
    background-color: #5A9E15;
    &.category-table {
        background-color: #5A9E1573;

        &:hover {
            background-color: #5A9E152B;
        }
    }
}

.category-farmfrenzy {
    background-color: #BA6609;
    &.category-table {
        background-color: #BA660973;

        &:hover {
            background-color: #BA66092B;
        }
    }
}

.category-pizzafrenzy {
    background-color: #911D04;
    &.category-table {
        background-color: #911D0473;

        &:hover {
            background-color: #911D042B;
        }
    }
}

.category-thesims {
    background-color: #258018;
    &.category-table {
        background-color: #25801873;

        &:hover {
            background-color: #2580182B;
        }
    }
}

.category-nasigoreng {
    background-color: #DFD3AF;
    &.category-table {
        background-color: #DFD3AF73;

        &:hover {
            background-color: #DFD3AF2B;
        }
    }
}

.category-default {
    background-color: #5B7AD7;
    &.category-table {
        background-color: #5B7AD773;

        &:hover {
            background-color: #5B7AD72B;
        }
    }
}

.scrollbar-default {
    @apply scrollbar-thin scrollbar-track-slate-800 scrollbar-thumb-slate-600
}